html[data-theme='dark'] {
  --bg: #1e1e1e;
  --text: #ffffff;
  --btn-back: rgb(172, 0, 0);
}

html[data-theme='light'] {
  --bg: #ffffff;
  --text: #000000;
  --btn-back: rgb(0, 0, 94);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
